<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>Todoアプリ</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <h1>ToDo</h1>
    <div id="app">
      <input
        v-model="newTodo"
        placeholder="Todoを入力"
      />
      <button @click="addTodo">追加</button>
      <p v-if="todos.length > 0">編集する項目をClick</p>
      <ul>
        <li
          v-for="todo in todos"
          :key="todo.id"
        >
          <div v-if="editableId === todo.id">
            <input
              v-focus
              v-model="todo.content"
              @keyup.enter="updateTodo(todo)"
              @blur="updateTodo(todo)"
            >
            <button @click="updateTodo(todo)">完了</button>
          </div>
          <div v-else>
            <span @click="edit(todo.id)">{{ todo.content }}</span>
            <button @click="deleteTodo(todo)">削除</button>
          </div>
        </li>
      </ul>
    </div>
    <script src="index.js"></script>
  </body>
</html>
